<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home</title>

<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/index.css">
</head>
<body>

<header class="header">
<div class="header-inner body-width">
  <nav class="header-nav">
	<ul>
	  <li>
		<a href="zhu_ce.html" class="icon-text__pink register">注册</a>
	  </li>
	  <li>
		<span class="line"></span>
		<a href="登录.html">登录</a>
	  </li>
	</ul>
  </nav>
</div>

<div class="header-shadow"></div>
</header>

<!--main-->

<div class="main">

<div class="main-inner body-width">
  <div class="banner clearfix">
	<div class="slider" id="slider">
	  <ul class="slider-wrapper">
		<li class="item" data-title="落霞与孤鹜齐飞，秋水共长天一色。" data-author="苏睿恒">
		  <a href="#" class="pic"><img src="images/cont/slider_img1.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="天若有情天亦老，月若有情月常圆" data-author="苏睿恒">
		  <a href="#" class="pic"><img src="images/cont/slider_img2.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="出淤泥而不染，濯清涟而不妖" data-author="苏睿恒">
		  <a href="#" class="pic"><img src="images/cont/slider_img3.jpg" alt="#"></a>
		</li>
		<li class="item" data-title="气温起伏，一件外套保护你" data-author="苏睿恒">
		  <a href="#" class="pic"><img src="images/cont/slider_img4.png" alt="#"></a>
		</li>
		<li class="item" data-title="鲜为人知的泰国小众小城——董里" data-author="苏睿恒">
		  <a href="#" class="pic"><img src="images/cont/slider_img5.jpg" alt="#"></a>
		</li>
	  </ul>
	  <a href="javascript:;" class="slider-prev"></a>
	  <a href="javascript:;" class="slider-next"></a>
	  <div class="slider-title">
		<h2></h2>
		<span></span>
	  </div>
      
	  <div class="slider-btns">
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
	  </div>
	</div>
    
	<div class="banner-info">
	  <div class="news body-border">
		<ul>
		  <li class="title">社区热点</li>
		  <li class="link">
			<a href="#">冬天</a>
			<span></span>
			<a href="#">把生活过成一首诗</a>
			<span></span>
			<a href="#">早餐</a>
			<span></span>
			<a href="#">记下时间走过的路</a>
			<span></span>
			<a href="#">穿搭</a>
			<span></span>
			<a href="#">家居</a>
			<span></span>
			<a href="#">原创</a>
			<span></span>
		  </li>
		  <li class="choose">
			<a href="#">『人气连衣裙精选』 大合集</a>
			<span class="icon-text__pink">精选</span>
		  </li>
		  <li class="assistant">
			<p>收图小助手:  <a href="#">tang收集工具</a></p>
		  </li>
		</ul>
	  </div>
	  <div class="app body-border"><a href="#"></a></div>
	</div>
  </div>
  
  <div class="main-cont main-album">
	<div class="main-cont__title">
	  
      <hr width="100%" align="left"/>
      <!--成语精选-->
      <h3>成语精选</h3>
	  <a href="#" class="more">往期回顾 ></a>
	</div>
    	
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img1.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">百步飞剑</a>
          <p>68张图片 · 2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img2.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">横贯八方</a>
		  <p>68张图片 · 2255人收藏</p>
          <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img3.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">夜尽天明</a>
		  <p>68张图片 · 2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img4.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">君临天下</a>
		  <p>68张图片 · 2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
	</ul>
    
    <br/><br/><br/>
    <ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img1.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">百步飞剑</a>
		  <p>2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img2.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">横贯八方</a>
		  <p>68张图片 · 2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img3.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">夜尽天明</a>
		  <p>68张图片 · 2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic"><img src="images/cont/main_img4.jpg" alt="#"></a>
		<div class="info">
		  <a href="#" class="title">君临天下</a>
		  <p>68张图片 · 2255人收藏</p>
		  <span>进去看看吧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font size="3" face="微软雅黑" color="#3399FF">立即前往</font></span>
		</div>
	  </li>
	</ul>
    <br/>
  </div>
  
  
  
  <!--优秀音频-->
  
  <div class="main-cont main-user">
	<div class="main-cont__title">
    <hr width="100%" align="left"/>
	  <h3>优秀音频</h3>
	  <a href="#" class="more">更多达人 </a>
	</div>
	<ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img1.jpg) no-repeat; background-size: cover; ">							 		</a>
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img2.jpg) no-repeat; background-size: cover; ">				 		</a>
		
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img3.jpg) no-repeat; background-size: cover; ">		 		</a>
		
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img4.png) no-repeat; background-size: cover; "> 		</a>
		
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
	</ul>
    
    <br/><br/>
    
    <ul class="main-cont__list clearfix">
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img1.jpg) no-repeat; background-size: cover; ">							 		</a>
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img2.jpg) no-repeat; background-size: cover; ">				 		</a>
		
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img3.jpg) no-repeat; background-size: cover; ">		 		</a>
		
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic" style=" background: url(images/cont/user_img4.png) no-repeat; background-size: cover; "> 		</a>
		
		<div class="info">
		  <a href="#" class="info-title">虽虽酱</a>
		  <p><i class="icon-star"></i>9645</p>
		  <p>擅长领域: <b>Q版</b></p>
		</div>
	  </li>
	</ul>
  </div>

  <div class="main-cont main-waterfall">
	<div class="main-cont__title">
	  <h3>大家正在逛</h3>
	</div>
    
	<ul class="main-cont__list clearfix">
	  <li class="item item-cur">
		<a href="#" class="pic">
		  <img src="images/cont/waterfall_img1.jpg" alt="#">
		</a>
		<div class="waterfall-hover">
		  <span class="mask"></span>
		  <a href="#" class="btn-collect">收集  45</a>
		  <a href="#" class="btn-white btn-like"></a>
		  <a href="#" class="btn-white btn-comment"></a>
		</div>
		<div class="waterfall-info">
		  <p class="title">Fendi（芬迪） 2017早春度假系列</p>
		  <p class="icon"><span class="icon-star">89</span><span class="icon-like">10</span></p>
		</div>
		<div class="collect-info">
		  <a href="#" class="headImg"><img src="images/cont/waterfall_headImg1.jpeg" alt="#"></a>
		  <p class="title"><a href="#">大祁Y</a></p>
		  <p class="to">收集到<a href="#">时尚语型录</a></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic">
		  <img src="images/cont/waterfall_img2.jpg" alt="#">
		</a>
		<div class="waterfall-hover">
		  <span class="mask"></span>
		  <a href="#" class="btn-collect">收集  45</a>
		  <a href="#" class="btn-white btn-like"></a>
		  <a href="#" class="btn-white btn-comment"></a>
		</div>
		<div class="waterfall-info">
		  <p class="title">Fendi（芬迪） 2017早春度假系列</p>
		  <p class="icon"><span class="icon-star">89</span><span class="icon-like">10</span></p>
		</div>
		<div class="collect-info">
		  <a href="#" class="headImg"><img src="images/cont/waterfall_headImg1.jpeg" alt="#"></a>
		  <p class="title"><a href="#">大祁Y</a></p>
		  <p class="to">收集到<a href="#">时尚语型录</a></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic">
		  <img src="images/cont/waterfall_img3.jpg" alt="#">
		</a>
		<div class="waterfall-hover">
		  <span class="mask"></span>
		  <a href="#" class="btn-collect">收集  45</a>
		  <a href="#" class="btn-white btn-like"></a>
		  <a href="#" class="btn-white btn-comment"></a>
		</div>
		<div class="waterfall-info">
		  <p class="title">Fendi（芬迪） 2017早春度假系列</p>
		  <p class="icon"><span class="icon-star">89</span><span class="icon-like">10</span></p>
		</div>
		<div class="collect-info">
		  <a href="#" class="headImg"><img src="images/cont/waterfall_headImg1.jpeg" alt="#"></a>
		  <p class="title"><a href="#">大祁Y</a></p>
		  <p class="to">收集到<a href="#">时尚语型录</a></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic">
		  <img src="images/cont/waterfall_img4.jpg" alt="#">
		</a>
		<div class="waterfall-hover">
		  <span class="mask"></span>
		  <a href="#" class="btn-collect">收集  45</a>
		  <a href="#" class="btn-white btn-like"></a>
		  <a href="#" class="btn-white btn-comment"></a>
		</div>
		<div class="waterfall-info">
		  <p class="title">Fendi（芬迪） 2017早春度假系列</p>
		  <p class="icon"><span class="icon-star">89</span><span class="icon-like">10</span></p>
		</div>
		<div class="collect-info">
		  <a href="#" class="headImg"><img src="images/cont/waterfall_headImg1.jpeg" alt="#"></a>
		  <p class="title"><a href="#">大祁Y</a></p>
		  <p class="to">收集到<a href="#">时尚语型录</a></p>
		</div>
	  </li>
      
	  <li class="item">
		<a href="#" class="pic">
		  <img src="images/cont/waterfall_img5.jpg" alt="#">
		</a>
		<div class="waterfall-hover">
		  <span class="mask"></span>
		  <a href="#" class="btn-collect">收集  45</a>
		  <a href="#" class="btn-white btn-like"></a>
		  <a href="#" class="btn-white btn-comment"></a>
		</div>
		<div class="waterfall-info">
		  <p class="title">Fendi（芬迪） 2017早春度假系列</p>
		  <p class="icon"><span class="icon-star">89</span><span class="icon-like">10</span></p>
		</div>
		<div class="collect-info">
		  <a href="#" class="headImg"><img src="images/cont/waterfall_headImg1.jpeg" alt="#"></a>
		  <p class="title"><a href="#">大祁Y</a></p>
		  <p class="to">收集到<a href="#">时尚语型录</a></p>
		</div>
	  </li>
      
	  
  </div>
</div>
<a href="#" id="readMore">浏览更多 ></a>
</div>

<footer class="footer">
<div class="footer-container">
  <div class="footer-link">
	<div class="footer-link__item">
	  <h4 class="footer-title">关于我们</h4>
	  <ul class="footer-list">
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
		<li class="item"><a href="#">加入我们</a></li>
		<li class="item"><a href="#">联系我们</a></li>
		<li class="item"><a href="#">标签集</a></li>
		<li class="item"><a href="#">商务合作</a></li>
		<li class="item"><a href="#">免责声明</a></li>
	  </ul>
	</div>
	<div class="footer-link__item">
	  <h4 class="footer-title">手机应用</h4>
	  <ul class="footer-list">
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
		<li class="item"><a href="#">加入我们</a></li>
	  </ul>
	</div>
	<div class="footer-link__item">
	  <div class="footer-orcode"><img src="images/app_qrcode.png" alt="#"></div>
	  <div class="orcode-text">
		<p>扫描二维码</p>
		<p>下载tang手机客户端</p>
	  </div>
	</div>
	<div class="footer-link__item">
	  <h4 class="footer-title">关注我们</h4>
	  <ul class="footer-list">
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
	  </ul>
	</div>
	<div class="footer-link__item">
	  <h4 class="footer-title">友情链接</h4>
	  <ul class="footer-list">
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
		<li class="item"><a href="#">关于我们</a></li>
		<li class="item"><a href="#">帮助中心</a></li>
	  </ul>
	</div>
  </div>
  <div class="fopter-copyright">
	<p>Copyright &copy; 2017.Company name All rights reserved.</p>
  </div>
</div>
</footer>


<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>