<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>成语网站登陆</title>

    <script src="/libs/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/css/zhu_ce.css">

</head>
<body><script src="/js/deng_lu.js"></script>
<br>
<h1 align="center">欢迎登陆</h1>
<section>
    <form action="check" method="post">
        <div class="register-box">
            <label class="username_label">用 户 名
                <input name="name" maxlength="20" type="text" placeholder="请输入账号">
            </label>
            <div class="tips">

            </div>
        </div>
        <div class="register-box">
            <label class="other_label">密 码
                <input name="password" maxlength="20" type="password" placeholder="请输入密码">
            </label>
            <div class="tips">

            </div>
        </div>
      <!--  <div class="register-box">
            <label class="other_label">确 认 密 码
                <input maxlength="20" type="repassword" placeholder="请再次输入密码">
            </label>
            <div class="tips">

            </div>
        </div>-->
        <div class="register-box">
            <label class="other_label">验 证 码
                <input maxlength="20" type="text" placeholder="请输入验证码">
            </label>
            <span id="code"></span>
            <div class="tips">

            </div>
        </div>
        <!--<div class="arguement">
            <input type="checkbox" id="xieyi">
            阅读并同意
            <a href="#">《成语用户注册协议》</a>
            <a href="#">《隐私政策》</a>
            <div class="tips">

            </div>
        </div>-->
        <div class="submit_btn">
            <button type="submit" id="submit_btn">登陆</button>
        </div>
    </form>
</section>

<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>
</body>
</html>