<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>完善信息</title>



<link rel="stylesheet" type="text/css" href="/css/zhu_ce.css">

</head>
<body><script src="/demos/googlegg.js"></script>
<br>
<h1 align="center">请完善您的信息</h1>
<section>
	<form action="" method="post">
		<div class="register-box">
			<label for="username" class="username_label">地区
			<input maxlength="20" type="text" placeholder="请输入所在地">
			</label>
			<div class="tips">
						
			</div>
		</div>
		<div class="register-box">
			<label for="username" class="username_label">学校
			<input maxlength="20" type="text" placeholder="请输入你的学校">
			</label>
			<div class="tips">
				
			</div>
		</div>
		<div class="register-box">
			<label for="username" class="username_label">年级
			<input maxlength="20" type="text" placeholder="请输入年级">
			</label>
			<div class="tips">
				
			</div>
		</div>
		<div class="register-box">
			<label for="username" class="username_label">
			<span>手机号码</span>
			<input class="phone" maxlength="20" type="text" oninput="value=value.replace(/[^\d]/g,'')" maxlength="11" minlength="11" placeholder="建议使用常用手机">
			</label>
			<div class="tips">
				
			</div>
		</div>
		<div class="submit_btn">
					<button type="submit" id="submit_btn">立 即 完 善</button>
				</div>
	</form>
</section>

<script src="js/index.js" type="text/javascript" charset="utf-8"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>
</body>
</html>